.excalidrawWrapper button {
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  outline:none;
  transform: translateY(0px);
  transition: none;
  box-shadow: none;
}
excalidrawWrapper button:hover {
    box-shadow: none;
}

.excalidrawWrapper {
    display:inline-block
}