:root {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  width: 100%;
  height: 100%;

  color: rgba(21, 21, 21, 0.87);
  background-color: #dfffff;
  margin:0;

  /* center buttons and stuff */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

a, .link-button {
  font-weight: 500;
  color: #272727;
  text-decoration: none;
  transition: color 0.25s;
}
a:hover, .link-button:hover {
  color: #6d6d6d;
}
nav {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  position: sticky;
  top: 0;
  left: 0;
  isolation: isolate;
  font-size: 1.5em;
  align-items: center;
  background: rgb(157, 247, 255);
  box-shadow: 0 0px 30px rgb(157, 247, 255);
  z-index: 9999; /* <-- Force on top */
}


.blobcontainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;

}

body {
  height:100%;
  width: 100%;
  position: absolute;
  margin: 0px;
  background-color: #dfffff;
  z-index: -5;
}

.blob {
  position: absolute;
  width: var(--w, 300px);
  height: var(--h, 300px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  animation: blobMorph 30s ease-in-out infinite;
  animation-delay: var(--delay, 0s);
  border-radius: 45% 55% 60% 40% / 50% 60% 40% 50%;
  transform: translate(0, 0) rotate(0deg) scale(1);
}

footer {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  position: relative;
  left: 0px;
  bottom: 0px;
  isolation: isolate;
  font-size: 1.5em;
  color: #272727;
  background: rgba(112, 238, 255, 0.1);
  box-shadow: 0 -1px 5px rgba(112, 238, 255, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  z-index: 10;
}

.tab-chooser-element {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.tab-button, .tab-button:focus, .tab-button:focus-visible {
  background: none transparent;
  border: none;
  color: rgb(53, 53, 53);
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
  height: 100%;
  font-weight: 500;
  text-align: center;
  width: 100%;
  max-width: 150px;
  box-shadow: rgb(217, 217, 217) 0px 7px 0px -5px;
  transition: box-shadow 0.2s, transform 0.15s, background-color 0.15s;
}

.tab-button-selected {
  box-shadow: rgb(179, 212, 255) 0px 7px 0px -5px !important;
}

.tab-button-selected:active {
  transform: scale3d(0.95, 0.95, 0.95);
  box-shadow: rgb(179, 212, 255) 0px 12px 0px -5px !important;
}

.tab-button:hover {
  background: none transparent;
  background-color: transparent;
  color: #5c5c5c;
  cursor: pointer;
  transform: scale3d(1.05, 1.05, 1);
  box-shadow: rgb(217, 217, 217) 0px 7px 0px -5px, inset 0px -40px 40px -50px rgb(111 251 255);
}

.tab-button:active {
  transform: scale3d(0.95, 0.95, 0.95);
  box-shadow: rgb(179, 212, 255) 0px 12px 0px -5px;
}

/* Remove the marker from tab container li elements */
.tab-container {
  list-style: none;
}

.blob:nth-child(1) {
  top: 10%;
  left: 10%;
  width: 300px;
  height: 250px;
  animation-duration: 20s;
}
.blob:nth-child(2) {
  top: 20%;
  left: 60%;
  width: 400px;
  height: 350px;
  animation-duration: 25s;
  animation-delay: 5s;
}
.blob:nth-child(3) {
  top: 50%;
  left: 30%;
  width: 350px;
  height: 300px;
  animation-duration: 20s;
  animation-delay: 10s;
}
.blob:nth-child(4) {
  top: 70%;
  left: 20%;
  width: 450px;
  height: 400px;
  animation-duration: 25s;
  animation-delay: 15s;
}
.blob:nth-child(5) {
  top: 80%;
  left: 70%;
  width: 300px;
  height: 250px;
  animation-duration: 15s;
  animation-delay: 20s;
}
.blob:nth-child(6) {
  top: 40%;
  left: 80%;
  width: 400px;
  height: 350px;
  animation-duration: 20s;
  animation-delay: 25s;
}

@keyframes blobMorph {
  0% {
    border-radius: 45% 55% 60% 40% / 50% 60% 40% 50%;
    transform: translate(0, 0) rotate(0deg) scale(1);
  }
  25% {
    border-radius: 60% 40% 50% 50% / 50% 50% 60% 40%;
    transform: translate(20px, -10px) rotate(2deg) scale(1.05);
  }
  50% {
    border-radius: 55% 45% 60% 40% / 60% 50% 40% 50%;
    transform: translate(-15px, 15px) rotate(-2deg) scale(1);
  }
  75% {
    border-radius: 50% 60% 45% 55% / 55% 45% 55% 45%;
    transform: translate(10px, -15px) rotate(1deg) scale(0.98);
  }
  100% {
    border-radius: 45% 55% 60% 40% / 50% 60% 40% 50%;
    transform: translate(0, 0) rotate(0deg) scale(1);
  }
}



.textcenter {
  text-align: center;
}
.texttiny {
  font-size: 0.7rem;
  font-weight: 400;
}
.textsmall {
  font-size: 1rem;
  font-weight: 500;
}
.textmedium {
  font-size: 1.5rem;
  font-weight: 500;
}
.textlarge {
  font-size: 2.5rem;
  font-weight: 600;
}
.texthuge {
  font-size: 3rem;
  font-weight: 600;
}
.textgiant {
  font-size: 4.5rem;
  font-weight: 700;
}
.textreveal {
  /* filter: blur(2.5px);
  transition: filter 0.5s ease-in-out; */
  /* pixelate the text */
  filter: blur(1.5px);
  transition: filter 0.5s ease-in-out;
  z-index: -1;
}
.textreveal:hover {
  /* filter: blur(0px); */
  filter: blur(0px);
  transition: filter 0.5s ease-in-out;
}
.textyellow {
  color: #ffef87;
}
.textblue {
  color: #9df7ff;
}
.textgreen {
  color: #7eef99;
}
.textred {
  color: #dc5757
}
.textpurple {
  color: #b99cf0;
}
.textorange {
  color: #ff9262
}

input {
  width: 100%;
  max-width: 250px;
  padding: 1em;
  font-size: 0.75em;
  max-height: 0.25em;
  font-family: inherit;
  font-weight: 400;
  border-radius: 100px;
  border: 1px solid #ccc;
  transition: border-color 0.25s, box-shadow 0.25s;
  /* box-shadow: 0px 4px 0px rgb(204 221 243); */
}
input:focus, textarea:focus {
  box-shadow: 0px 4px 0px rgb(204 221 243);
  outline: none;
}
input::placeholder, textarea::placeholder {
  color: #aaa;
  opacity: 1; /* Ensure placeholder is fully opaque */
}
textarea {
  height: 100px;
  resize: vertical; /* Allow vertical resizing only */
}
input[type="checkbox"], input[type="radio"] {
  width: auto;
  height: auto;
  margin-right: 0.5em;
  vertical-align: middle;
  cursor: pointer;
  accent-color: #646cff; /* Modern browsers support this for checkbox/radio color */
}
label {
  font-size: 1em;
  font-weight: 500;
  color: #272727;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
}
label:hover {
  color: #646cff;
}

.blobs {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: sepia(5) saturate(3) hue-rotate(60deg) blur(5px) brightness(1.3)
}

button {
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  outline:none;
  box-shadow: 0px 4px 0px rgb(204 221 243);
  transform: translateY(0px);
  transition: box-shadow 0.15s, transform 0.15s, background-color 0.15s;

}
button:hover {
  background-color: #fff8c9;
  transform: translateY(-2px);
  box-shadow: 0px 6px 0px rgb(204 221 243);
}
button:active {
  box-shadow: 0px 2px 0px rgb(204 221 243);
  transform: translateY(2px);
}
/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  border-color: #000000;
} */
.navbutton-profile-loggedin {
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 0px 5px rgb(204 221 243);
  background-color: #dfffff;
}
.navbutton-profile-loggedout {
  border-radius: 0%;
  object-fit: cover;
  background: none;
}
.listing {
  display: inline-block;
  width: 350px;
  height:670px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 0px 15px 2px rgba(130, 130, 130, 0.5);
  padding: 10px;
  margin: 15px;
}
.listing-title {
  display:block;
  text-align: center;
  font-size: 23px;
  font-weight: 600;
  display: -webkit-box;       /* Required for -webkit-line-clamp to work */
  -webkit-line-clamp: 2;      /* Limits the text to 3 lines (or any number you specify) */
  line-clamp: 2;
  -webkit-box-orient: vertical; /* Required for -webkit-line-clamp to work */
  overflow: hidden;           /* Hides any overflowing content */
  text-overflow: ellipsis;    /* Displays ellipsis for truncated text */
  height: 65px;
}
.listing-thumbnail {
  width: 350px;
  height: 200px;
  border-radius: 25px;
  outline: solid rgb(234, 234, 234) 3px;
}
.listing-description {
  display: -webkit-box;       /* Required for -webkit-line-clamp to work */
  -webkit-line-clamp: 3;      /* Limits the text to 3 lines (or any number you specify) */
  line-clamp: 3;
  -webkit-box-orient: vertical; /* Required for -webkit-line-clamp to work */
  overflow: hidden;           /* Hides any overflowing content */
  text-overflow: ellipsis;    /* Displays ellipsis for truncated text */
}
.accdisplay {
  width: 350px;
  height: 50px;
  display:block;
  border-radius: 15px;
  background-color: rgb(250, 250, 250);
  cursor: pointer;
  border-bottom: solid rgba(208, 208, 208, 0.5) 3px;
  line-height: 50px;
}
.controls {
  width: 350px;
  height: 150px;
  display:block;
  background-color: rgb(249, 249, 249);
  border-radius: 15px;
  border: solid rgba(208, 208, 208, 0.5) 1px;
  line-height-step: 25px;
}
.accdisplay-profilepic {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #dfffff;
  margin-left: 25px;
  margin-right: 10px;
}
.accdisplay-text {
  display: inline-block;
  vertical-align: middle;
  max-width: 185px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.listing-tags-container {
  display:block;
  width:310px;
  min-height: 25px;
  background-color: #fdfdfd;
  border-radius: 6px;
  max-height: 50px;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y:hidden;
}
.listing-tags-container::-webkit-scrollbar {
  height: 6px;
}
.listing-tags-container::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 3px;
}
.listing-tags-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 3px;
}
.listing-tag {
  display: inline-block;
  background-color: #efefef;
  padding: 6px;
  border-radius: 15px;
  font-size: 12px;
  margin-right: 5px;
}
.fullwidth {
  width: 100%;
}
code {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f4f4f4;
  padding: 2px 4px;
  border-radius: 4px;
}
.profilepic-inline {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #fffceb;
  border: solid #ededed79 0.5px;
  margin-right: 10px;
  display: inline-block;
}
code.acc {
  border: solid #d9d9d9b1 0.5px;
  color:#565656;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fff8cd;
  padding: 4px 8px;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  height:auto
}
textarea {
  width: 100%;
  max-width: 250px;
  padding: 1em;
  font-size: 0.75em;
  max-height: 4em;
  font-family: inherit;
  font-weight: 400;
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: border-color 0.25s, box-shadow 0.25s;
  resize: none;
  /* box-shadow: 0px 4px 0px rgb(204 221 243); */
}

input[type=file]::file-selector-button {
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  outline:none;
  box-shadow: 0px 4px 0px rgb(204 221 243);
  transform: translateY(0px);
  transition: box-shadow 0.15s, transform 0.15s, background-color 0.15s;

}
input[type=file]::file-selector-button:hover {
  background-color: #fff8c9;
  transform: translateY(-2px);
  box-shadow: 0px 6px 0px rgb(204 221 243);
}
input[type=file]::file-selector-button:active {
  box-shadow: 0px 2px 0px rgb(204 221 243);
  transform: translateY(2px);
}



input[type="file"] {
  /* border: none; */
  padding: 30px;
  border-radius: 10px;
  box-shadow: none;
  background-color: #e5f5ff;
  min-height: 40px;
}

select {
  width: 100%;
  max-width: 250px;
  padding: 1em;
  font-size: 0.75em;
  max-height: 40px;
  font-family: inherit;
  font-weight: 400;
  border-radius: 100px;
  border: 1px solid #ccc;
  transition: border-color 0.25s, box-shadow 0.25s;
  /* box-shadow: 0px 4px 0px rgb(204 221 243); */
  color: #3c3c3c;
}
select:focus {
  box-shadow: 0px 4px 0px rgb(204 221 243);
  outline: none;
}
select option {
  font-family: inherit;
  font-weight: 400;
  color: #3c3c3c
}

.listings-panel-wrapper {
  width: 100%;
  transform: scale(0.85);
  transform-origin: top center;
  overflow: visible; /* allow scrollbar from outer to be visible */
}
.listings-panel {
  position: relative;
  width: 100%;
  overflow: visible; /* <-- important: keep scrollbar visible */
  padding-bottom: 60px;
}

/* horizontal scroll container */
.listings-scroll {
  display: flex;
  flex-direction: row;
  gap: 16px;
  /* don't set overflow here anymore */
  height: 100%;
  align-items: flex-start; /* optional */
}

/* make each listing not shrink and stay side-by-side */
.listings-scroll > * {
  flex: 0 0 auto;
}

/* custom scrollbar styles */
.listings-scroll::-webkit-scrollbar {
  height: 10px; /* slightly thicker for visibility */
}
.listings-scroll::-webkit-scrollbar-thumb {
  background-color: #b1b1b1;
  border-radius: 5px;
}
.listings-scroll::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 4px;
}

/* pagination bar fixed bottom center */
.pagination-controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -90px);
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgb(246, 246, 246);
  border-radius: 12px;
  padding: 6px 12px;
  backdrop-filter: blur(8px);
  z-index: 10;
  box-shadow: 0px 0px 5px 1px rgba(130, 130, 130, 0.5);
}

.pagination-controls button:disabled {
  border-radius: 8px;
  border: 3px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  outline: none;
  box-shadow: 0px 2px 0px rgb(204 221 243);
  transform: translateY(1px);
  transition: box-shadow 0.15s, transform 0.15s, background-color 0.15s;
}

.pagination-controls span {
  white-space: nowrap;
}

.listings-scroll-outer {
  width: 100%;
  overflow-x: auto;     /* native scrollbar belongs to this element */
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  /* keep height equal to scroll area */
  height: 750px;        /* same height you want for the visible area */
  display: block;
  box-sizing: border-box;
  padding: 10px;
}

.listing-detail-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start; /* panel on the left */
  align-items: stretch;        /* make it full height */
  background: rgba(0, 9, 42, 0.581); /* for backdrop-filter visibility */
  backdrop-filter: blur(6px);
  overflow-y: auto;
  z-index: 100;
}

/* connected side panel */
.largelisting {
  width: 700px;
  height: calc(100% - 40px);
  background-color: white;
  border: none;
  border-radius: 0;   /* no rounded corners */
  box-shadow: none;   /* remove shadow */
  padding: 20px;
  overflow-y: scroll;   /* scroll inside the panel if needed */
  margin: 0;          /* no margin */
  border-right: solid rgba(208, 208, 208, 0.5) 3px;
}

/* thumbnail image */
.largelisting .listing-thumbnail {
  width: 560px;
  height: 320px;
  object-fit: cover;
  outline: solid rgb(234, 234, 234) 3px;
  image-rendering: optimizeQuality;
  object-fit:fill;
}

/* account display section */
.largelisting .accdisplay {
  width: 100%;
  margin-top: 10px;
}

.listing-detail-more-details {
  width: calc(100% - 700px);
  height: calc(100% - 40px);
  background-color: white;
  border: none;
  border-radius: 0;   /* no rounded corners */
  box-shadow: none;   /* remove shadow */
  padding: 20px;
  overflow-y: scroll;   /* scroll inside the panel if needed */
  margin: 0;          /* no margin */
}

.largelisting .listing-tags-container {
  width: calc(100% - 40px);
  max-width: none;
  margin-top: 10px;
}

.largelisting button {
  width: 100%;
}

.listing-type-label[data-value="service"] {
  background-color: #fffab8;
  width: calc(100% - 10px);
  display: block;
  border-radius: 15px 15px 0px 0px;
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
}
.listing-type-label[data-value="class"] {
  background-color: #b8ecff;
  width: calc(100% - 10px);
  display: block;
  border-radius: 15px 15px 0px 0px;
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
}

.emaildisplay, .phonenumdisplay {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgba(130, 130, 130, 0.5);
  font-size: 30px;
  margin: 30px 100px 30px 100px;
  display: block;
}
.emaildisplay::before {
  content: 'Email: \A';
  white-space: pre;
  font-size: 20px;
}
.phonenumdisplay::before {
  content: 'Phone number: \A';
  white-space: pre;
  font-size: 20px;
}